.react-dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1044;
    background: rgba(255, 255, 255, 0.9);
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    opacity: 0;
    -webkit-animation: react-dialog-fadeIn 0.5s 0.2s forwards;
    -moz-animation: react-dialog-fadeIn 0.5s 0.2s forwards;
    -o-animation: react-dialog-fadeIn 0.5s 0.2s forwards;
    animation: react-dialog-fadeIn 0.5s 0.2s forwards;
}

@-webkit-keyframes react-dialog-fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes react-dialog-fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-o-keyframes react-dialog-fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes react-dialog-fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}